@page "/grupper"
<h6 class="text-center">Grupper</h6>

<div class="container">
    
    <div class="row">
        <div class="col" id="groupA" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-style: solid; margin: 20px; background-color:darkslategray; color:white">
            <h5>Grupp A</h5>
            <img src="https://flagpedia.net/data/flags/w580/qa.png" width="20" height="20" alt="Qatar flag"> Qatar
            <br />
            <img src="https://flagpedia.net/data/flags/w580/nl.png" width="20" height="20" alt="Netherlands flag"> Nederländerna
            <br />
            <img src="https://flagpedia.net/data/flags/w580/sn.png" width="20" height="20" alt="Senegal flag"> Senegal
            <br />
            <img src="https://flagpedia.net/data/flags/w580/ec.png" width="20" height="20" alt="Ecuador flag"> Ecuador
        </div>

        <div class="col" id="groupB" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-style: solid; margin: 20px; background-color:darkslategray; color:white">
            <h5>Grupp B</h5>
            <img src="https://flagpedia.net/data/flags/w580/gb.png" width="20" height="20" alt="England flag"> England
            <br />
            <img src="https://flagpedia.net/data/flags/w580/us.png" width="20" height="20" alt="USA flag"> USA
            <br />
            <img src="https://flagpedia.net/data/flags/w580/ir.png" width="20" height="20" alt="Iran flag"> Iran
            <br />
            <img src="https://flagpedia.net/data/flags/w580/gb-wls.png" width="20" height="20" alt="Wales flag"> Wales
        </div>
    </div>
    <div class="row">
        <div class="col" id="groupC" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-style: solid; margin: 20px; background-color:darkslategray; color:white">
            <h5>Grupp C</h5>
            <img src="https://flagpedia.net/data/flags/w580/ar.png" width="20" height="20" alt="Argentina flag"> Argentina
            <br />
            <img src="https://flagpedia.net/data/flags/w580/mx.png" width="20" height="20" alt="Mexico flag"> Mexiko
            <br />
            <img src="https://flagpedia.net/data/flags/w580/pl.png" width="20" height="20" alt="Poland flag"> Polen
            <br />
            <img src="https://flagpedia.net/data/flags/w580/sa.png" width="20" height="20" alt="Saudi Arabia flag"> Saudiarabien
        </div>
        <div class="col" id="groupD" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-style: solid; margin: 20px; background-color:darkslategray; color:white">
            <h5>Grupp D</h5>
            <img src="https://flagpedia.net/data/flags/w580/fr.png" alt="France" height="20" width="20"> Frankrike
            <br />
            <img src="https://flagpedia.net/data/flags/w580/dk.png" alt="Denmark" height="20" width="20"> Danmark
            <br />
            <img src="https://flagpedia.net/data/flags/w580/tn.png" alt="Tunisia" height="20" width="20"> Tunisien
            <br />
            <img src="https://flagpedia.net/data/flags/w580/au.png" alt="Australia" height="20" width="20"> Australien
        </div>
    </div>
    <div class="row">
        <div class="col" id="groupE" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-style: solid; margin: 20px; background-color:darkslategray; color:white">
            <h5>Grupp E</h5>
            <img src="https://flagpedia.net/data/flags/w580/es.png" alt="Spain" height="20" width="20"> Spanien
            <br />
            <img src="https://flagpedia.net/data/flags/w580/de.png" alt="Germany" height="20" width="20"> Tyskland
            <br />
            <img src="https://flagpedia.net/data/flags/w580/jp.png" alt="Japan" height="20" width="20"> Japan
            <br />
            <img src="https://flagpedia.net/data/flags/w580/cr.png" alt="Costa Rica" height="20" width="20"> Costa Rica
        </div>
        <div class="col" id="groupF" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-style: solid; margin: 20px; background-color:darkslategray; color:white">
            <h5>Grupp F</h5>
            <img src="https://flagpedia.net/data/flags/w580/be.png" alt="Belgium" height="20" width="20"> Belgien
            <br />
            <img src="https://flagpedia.net/data/flags/w580/hr.png" alt="Croatia" height="20" width="20"> Kroatien
            <br />
            <img src="https://flagpedia.net/data/flags/w580/ma.png" alt="Morocco" height="20" width="20"> Marocko
            <br />
            <img src="https://flagpedia.net/data/flags/w580/ca.png" alt="Canada" height="20" width="20"> Kanada
        </div>
    </div>
    <div class="row">
        <div class="col" id="groupG" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-style: solid; margin: 20px; background-color:darkslategray; color:white">
            <h5>Grupp G</h5>
            <img src="https://flagpedia.net/data/flags/w580/br.png" alt="Brazil" height="20" width="20"> Brasilien
            <br />
            <img src="https://flagpedia.net/data/flags/w580/ch.png" alt="Switzerland" height="20" width="20"> Schweiz
            <br />
            <img src="https://flagpedia.net/data/flags/w580/rs.png" alt="Serbia" height="20" width="20"> Serbien
            <br />
            <img src="https://flagpedia.net/data/flags/w580/cm.png" alt="Cameroon" height="20" width="20"> Kamerun
        </div>
        <div class="col" id="groupH" style="box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; border-style: solid; margin: 20px; background-color:darkslategray; color:white">
            <h5>Grupp H</h5>
            <img src="https://flagpedia.net/data/flags/w580/pt.png" alt="Portugal" height="20" width="20"> Portugal
            <br />
            <img src="https://flagpedia.net/data/flags/w580/uy.png" alt="Uruguay" height="20" width="20"> Uruguay
            <br />
            <img src="https://flagpedia.net/data/flags/w580/kr.png" alt="South Korea" height="20" width="20"> Sydkorea
            <br />
            <img src="https://flagpedia.net/data/flags/w580/gh.png" alt="Ghana" height="20" width="20"> Ghana
        </div>
    </div>
</div>

@code {

}
